.card {
   background-color: var(--color-bg-secondary);
  border: 1px solid var(--color-border);
  border-radius: 12px;
  padding: 16px 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.04);
}

[data-theme='dark'] {
  .card {
    box-shadow: none;
  }
}
