// Інпути

.input {
  font-family: var(--font-body);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;

  padding: 10px 12px;
  height: 40px;

  border-radius: 8px;
  border: 1px solid var(--color-border);

  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);

  box-sizing: border-box;
  transition: border-color 0.2s ease;

  &:focus {
    border-color: var(--color-accent);
    outline: none;
  }
}
