/* ================= HEADER ================= */

.header {
  background-color: var(--color-bg-primary);
  border-bottom: 1px solid var(--color-border);
   box-shadow: 0 2px 6px rgba(15, 31, 27, 0.04);
}

.header__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ---------- BRAND ---------- */

.header__brand {
  display: flex;
  align-items: center;
}

.header__logo {
  font-family: var(--font-heading);
  font-size: 24px;
  font-weight: 600;
  color: var(--color-text-primary);
}

/* ---------- NAVIGATION ---------- */

.header__nav {
  margin: 0 32px;
}

.header__nav-list {
  display: flex;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__nav-link {
  font-family: var(--font-body);
  font-size: 16px;
  color: var(--color-text-secondary);
  text-decoration: none;

  position: relative;
  padding-bottom: 4px;
  transition: color 0.2s ease;

  &:hover,
  &:focus-visible {
    color: var(--color-text-primary);
  }

  &--active {
    color: var(--color-text-primary);

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: var(--color-accent);
      border-radius: 2px;
    }
  }
}

/* ---------- ACTIONS ---------- */

.header__actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header__profile {
  font-family: var(--font-body);
  font-size: 14px;
  color: var(--color-text-primary);
}

.header__profile-name {
  font-weight: 500;
}

/* ---------- THEME TOGGLE ---------- */

.header__theme-toggle {
  display: flex;
  align-items: center;
}

/* КНОПКА */

.theme-toggle {
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-surface);
  border: 1px solid var(--color-border);
  border-radius: 50%;
  color: var(--color-text-secondary);
  cursor: pointer;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  transition: all 0.25s ease;

  .moon-icon {
    display: none;
  }

  .sun-icon {
    display: block;
  }

  svg {
    transition: transform 0.4s ease;
  }

  &:hover {
    background-color: var(--color-accent-soft);
    color: var(--color-accent);
    border-color: var(--color-accent);
    transform: translateY(-1px);

    svg {
      transform: rotate(15deg);
    }
  }

  &:active {
    transform: translateY(0);
  }
}

/* ---------- DARK THEME ---------- */

[data-theme='dark'] {
  .theme-toggle {
    .sun-icon {
      display: none;
    }

    .moon-icon {
      display: block;
      color: var(--color-accent);
    }
  }
}
